<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ElaNaturalCircleWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaNaturalCircleWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ElaNaturalFiveMealsWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaNaturalFiveMealsWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ElaNaturalFourMealsWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaNaturalFourMealsWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ElaNaturalThreeMealsWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaNaturalThreeMealsWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ElaNaturalWidgetCaloriesExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaNaturalWidgetCaloriesExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>ElaNaturalWidgetCaloriesFourMealsExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaNaturalWidgetCaloriesFourMealsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>ElaNaturalWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaNaturalWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ElaWeekCaloriesWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaWeekCaloriesWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ElaWeekCarboWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaWeekCarboWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ElaWeekFatWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaWeekFatWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ElaWeekProteinWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ElaWeekProteinWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>lns.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC1699E72C6C741100B5631B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC169A192C6C7F8700B5631B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC356CD32C6C99D00023C0BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6978DA2BABBD81000B933A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6978F02BABBD82000B933A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC6978FA2BABBD82000B933A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC925DB32C7DBC00009F1E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC925DE12C7DD1A7009F1E72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB8AB5D2C69ADE50063A5F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECD549462C771115009E7E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECD549692C771CD3009E7E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECD5498C2C772CDA009E7E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
