<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlivcLicenseFile</key>
	<string>license.crt</string>
	<key>AlivcLicenseKey</key>
	<string>QPdsfTUeSkZam2Ry945d541f816654d03954421be55bf16f1</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx0991ecd2b540c7b8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>elavatinelns</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>elavatinelns</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>umAppKey</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>um.666fe76a940d5a4c496f7003</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>elaAlipayScheme</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixinURLParamsAPI</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
	</array>
	<key>Localization native development region</key>
	<string>China</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>D-DIN-PRO-500-Medium.otf</string>
		<string>D-DIN-PRO-600-SemiBold.otf</string>
		<string>D-DIN-PRO-700-Bold.otf</string>
		<string>D-DIN-PRO-800-ExtraBold.otf</string>
		<string>D-DIN-PRO-900-Heavy.otf</string>
		<string>D-DIN-PRO-400-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
